[class*="animations"] {
  transition-property: opacity, transform, filter;
  transition-duration: 1s;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.slide-up-fade-in-animations.animate {
  transform-origin: 50% 50%;
  animation-timing-function: ease;
  animation-name: slide-up-fade-in;
}

.slide-left-fade-in-animations.animate {
  transform-origin: 50% 50%;
  animation-timing-function: ease;
  animation-name: slide-left-fade-in;
}

.slide-right-fade-in-animations.animate {
  transform-origin: 50% 50%;
  animation-timing-function: ease;
  animation-name: slide-right-fade-in;
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translate(0px, 0px);
  }
}

@keyframes slide-left-fade-in {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-40px, 0px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translate(0px, 0px);
  }
}

@keyframes slide-right-fade-in {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translate(40px, 0px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translate(0px, 0px);
  }
}

@keyframes drift {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-60px, -60px);
  }
}
