.hero {
  height: calc(100dvh - 90px);
  align-content: center;

  &__title {
    line-height: 1.75;

    &--name {
      font-weight: 700;
      color: light-dark(hsl(var(--clr-dark)), hsl(var(--clr-white)));
    }
  }

  &__desc {
    --flow-space: 1.75rem;
    max-width: 32rem;
  }

  &__scroll {
    --flow-space: 1.75rem;

    .flex {
      --gap: 0.5rem;
    }
  }
}

.about {
  padding-block-end: var(--space-lg);
  --flow-space: 2.5rem;

  &__content {
    grid-template-columns: 3fr 2fr;
    --gap: 2rem;
  }

  &__skill-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    padding: 0;
    list-style-position: inside;

    li::marker {
      content: "▹";
      color: hsl(var(--clr-highlight));
    }
  }

  &__desc {
    --flow-space: 1rem;
    @media (max-width: 35rem) {
      order: 2;
    }
  }

  &__pic {
    height: 100%;
    display: block;

    &__img {
      border-radius: var(--border-radius);
      box-shadow: 0 10px 30px -20px var(--primary-clr);
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;

      @media (min-width: 35rem) {
        mix-blend-mode: multiply;
        filter: grayscale(100%);
        transform: translate(0);
        transition: filter 250ms var(--easing),
          mix-blend-mode 250ms var(--easing), transform 250ms var(--easing);

        &:hover {
          transform: translate(-4px, -4px);
        }
      }
    }
  }

  &:hover {
    .about__pic__img {
      filter: none;
      mix-blend-mode: normal;
    }
  }
}
