.hero {
  height: calc(100dvh - 90px);
  align-content: center;

  &__title {
    line-height: 1.75;

    &--name {
      font-weight: 700;
      color: light-dark(hsl(var(--clr-dark)), hsl(var(--clr-white)));
    }
  }

  &__desc {
    --flow-space: 1.75rem;
    max-width: 32rem;
  }

  &__scroll {
    --flow-space: 1.75rem;

    .flex {
      --gap: 0.5rem;
    }
  }
}

.about {
  padding-block-end: var(--space-lg);
  --flow-space: 2.5rem;

  &__content {
    --gap: 2rem;

    @media (min-width: 35rem) {
      grid-template-columns: 3fr 2fr;
    }
  }

  &__desc {
    --flow-space: 1rem;
    @media (max-width: 35rem) {
      order: 2;
    }
  }

  &__pic {
    height: 100%;
    display: block;

    &__img {
      border-radius: var(--border-radius);
      box-shadow: 0 10px 30px -20px var(--primary-clr);
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}

.project {
  padding-block-end: var(--space-lg);
  --flow-space: 2.5rem;

  &__title {
    a {
      transition: color 250ms ease-in-out;
      &:hover {
        color: hsl(var(--clr-highlight));
      }
    }
  }

  &__tech-list {
    flex-wrap: wrap;
    list-style-position: inside;
    padding: 0;

    li::marker {
      content: "▹";
      color: hsl(var(--clr-highlight));
    }
  }
}
